.portlet .sc_social_bookmarks .bookmark_id { 
    display:none;
}
#document-action-socialbookmark {
    display:block;
    float:right;
}
#document-action-socialbookmark a,
#document-action-socialbookmark a:hover,
#document-action-socialbookmark a:visited {
    padding:1px;
}
#content .sc_social_bookmarks li a ,
dl.portlet .sc_social_bookmarks li a {
    color:black;
    font-size:90%;
    font-weight:bold;
    text-decoration:none;
    border:none;
}
#content .sc_social_bookmarks li a img {
    margin-right:5px;
}
#content .sc_social_bookmarks ul, 
dl.portlet .sc_social_bookmarks ul { 
    list-style-image:none;
    list-style-type:none;
    margin:0;
}
#content .sc_social_bookmarks ul.icons_only li {
    width:16px;
}
#content .sc_social_bookmarks li,
dl.portlet .sc_social_bookmarks li {
    display: inline-block;
    height: 20px;
}
.sc_social_bookmarks_viewlet li {
    width:30%;
}
.sc_social_bookmarks_viewlet {
    position:relative;
}
.sc_social_bookmarks_overlay {
    display:none;
    position: absolute;
    z-index: 1;
}
.sc_social_bookmarks_wrapper {
    border:1px solid #CCC;
    background:white;
    padding:5px;
}